<head>
  <title>demoApp</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> bootstrapslider}}
</body>

<template name="bootstrapslider">
	 <div class="container">
	  <br>
	  <div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
	    <ol class="carousel-indicators">
	     {{#each arrayOfImage}}
	        <li data-target="#myCarousel" data-slide-to="{{index}}" class="{{#if first}} active{{/if}}"></li>
	     {{/each}}
	    </ol>

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox" id="ca">      

	     {{#each arrayOfImage}}
	       <div class = "item {{#if first}} active{{/if}}" >
	        <img src="{{value}}" style="width:100%;height:500px" >
	      </div>
	       {{/each}}
	    </div>

	    <!-- Left and right controls -->
	    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	      <span class="sr-only">Previous</span>
	    </a>
	    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="sr-only">Next</span>
	    </a>
	  </div>   
	</div>
</template>

